<h3><b>Sign in</b></h3>
<form class="p-2" action="/admin" method="post">
    <label  for="username"><b>Usernmae</b></label>
    <input class="form-control" type="text" placeholder="Enter Username" name="username" required>

    <label  for="password"><b>password</b></label>
    <input class="form-control" type="password" placeholder="Enter password" name="password" required>
    <br>
    <input class="bg-dark text-white btn"type="submit" value="Login">
</form>


<!-- <h3><b>Register</b></h3>
<form class="p-2" action="/register" method="post">
    <label  for="username"><b>Usernmae</b></label>
    <input class="form-control" type="text" placeholder="Enter Username" name="username">

    <label  for="password"><b>password</b></label>
    <input class="form-control" type="password" placeholder="Enter password" name="password">
    <br>
    <input class="bg-dark text-white btn" type="submit" value="register">
</form> -->