<div class="searchBar">
    <div class="container">
        <form action="/search" method="post" class="search_form" role="search">
            <input 
            class="form-control"
            type="search"
            aria-label="Search"
            id="searchInput"
            name="searchTerm"
            placeholder="Search the Project from the posts..."
            >
        </form>
        <div id="searchClose" class="btn searchBtn text-dark">CLOSE</div>
    </div>
</div>