<h1>About</h1>
<p>
  Welcome to my blog! I’m Yash Nitin Walavalkar, a passionate full-stack
  developer based in Pune, Katraj. This blog is a space where I share all my
  projects, insights, and experiences in web development.
</p>

<p>
  I have a strong background in the MERN stack and have completed a BCA degree
  along with a certification course in full-stack development. My journey in web
  development has led me to create several applications, ranging from
  entertainment apps to portfolio builders.
</p>

<p>
  This blog is built using Node.js, MongoDB, CSS, EJS, and Express.js. It's a
  reflection of my journey and growth as a developer. Here, you’ll find detailed
  posts about my projects, including:
</p>

<p>
  Entertainment App: An app to explore and enjoy movies, TV shows, and more.<br />
  Movie Booking App: A user-friendly platform to book movie tickets online.<br />
  Resume Builder App: A tool to create professional resumes easily.<br />
  Portfolio App: A showcase of my work and projects.<br />
  Gaming website: A user-friendly web app to playing different games
</p>

