<h1>Contact</h1>
<ul>
    <li>Mobile NO : 91+ 8600604179</li>
    <li>Email  : <a href="mailto:example@example.com?subject=Subject%20Here&body=Body%20text%20here">yash.walavalkar11@gmail.com</a></li>
    <li><a href="https://www.linkedin.com/in/yash-walavalkar/">LinkedIn</a></li>
    <li><a href="https://github.com/Yashwalavalkar">GitHub</a></li>
</ul>