<h1><%- data.title %></h1>
<article class="article">
    <%- data.createdAt %>
    <p>>>> <b>Project view   <a href="<%- data.link%>">Click here</a></b></p>
    <article class="article-paragraph">
        <p><%- data.body%></p>
    </article>
</article>


